.flex{
                         width:600px;
                      
}
.lineCard{
                         width:650px;    
                         height:min-content
                     
                       
}