.App{
  display:flex;
  gap:8px;

  flex-wrap: wrap;
    justify-content: flex-end;
    
  margin-top:3rem;
  margin-bottom:5rem;
}

.app-card{
  display: flex;
  gap:10rem;
  flex-wrap: wrap;
 
 
    

}